flow.json
[
    {
        "id": "756b2f50c17bf1f1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "35f1851ce9c8b0b7",
        "type": "tls-config",
        "name": "AWS-certificates",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "aaf44340a1-certificate.pem.crt",
        "keyname": "aaf44340a1f030806aebc82f7b9a52f191599230afde2251f0932e82b0f5d20f-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "37a6f38f31e18bdc",
        "type": "mqtt-broker",
        "name": "AWS",
        "broker": "azajijbaqf61a-ats.iot.eu-central-1.amazonaws.com",
        "port": "8883",
        "tls": "35f1851ce9c8b0b7",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "82467892e58e1771",
        "type": "ui_tab",
        "name": "weather",
        "icon": "weather",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4eed6d9cca178cac",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2ce7a22209edb22c",
        "type": "ui_group",
        "name": "Home",
        "tab": "82467892e58e1771",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "386e39e445533e8d",
        "type": "inject",
        "z": "756b2f50c17bf1f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "b9761a07dd185134"
            ]
        ]
    },
    {
        "id": "54a6cd00cf86a36c",
        "type": "debug",
        "z": "756b2f50c17bf1f1",
        "name": "payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "b9761a07dd185134",
        "type": "dwdweather",
        "z": "756b2f50c17bf1f1",
        "name": "Berlin-Alex",
        "mosmixStation": "10389",
        "lookAheadHours": "12",
        "additionalFields": "",
        "repeat": "0",
        "topic": "",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "c012de64ff42b43f",
                "54a6cd00cf86a36c",
                "006b5b114ccf9b74"
            ]
        ]
    },
    {
        "id": "c012de64ff42b43f",
        "type": "function",
        "z": "756b2f50c17bf1f1",
        "name": "",
        "func": "msg.payload = msg.payload.tempc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 60,
        "wires": [
            [
                "43e90105bf59c5a8",
                "edf8b1f6214f399c"
            ]
        ]
    },
    {
        "id": "43e90105bf59c5a8",
        "type": "debug",
        "z": "756b2f50c17bf1f1",
        "name": "Temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "006b5b114ccf9b74",
        "type": "mqtt out",
        "z": "756b2f50c17bf1f1",
        "name": "to dynamoDB",
        "topic": "berlin/alex/temperature",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37a6f38f31e18bdc",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "875773ec1747acd1",
        "type": "ui_button",
        "z": "756b2f50c17bf1f1",
        "name": "",
        "group": "2ce7a22209edb22c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Query server",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "b9761a07dd185134"
            ]
        ]
    },
    {
        "id": "edf8b1f6214f399c",
        "type": "ui_gauge",
        "z": "756b2f50c17bf1f1",
        "name": "",
        "group": "2ce7a22209edb22c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 120,
        "wires": []
    }
]